version: "3.8"

services:
  backend:
    image: marputtt/priv-backend:latest
    restart: always
    environment:
      PORT: 3000
      CONNECTION_URL: ${MONGO_URI}
      REFRESH_TOKEN_SECRET: ${REFRESH_TOKEN_SECRET}
    ports:
      - "3014:3014"

  frontend:
    image: marputtt/priv-frontend:latest
    restart: always
    depends_on:
      - backend
    ports:
      - "3013:3013"